// input parameters to run pipeline
params {
  BASE_BUCKET = "s3://fh-pi-meshinchi-s-eco-public"

  sample_sheet = "sample_sheets/Remission_JPL_JMML_MDA_resubmit_Sample_Sheet.txt"
  index = "$params.BASE_BUCKET/Reference_Data/Kallisto_Index/GRCh38.v29/gencode.v29_RepBase.v24.01.idx"
  
  picard_out_dir = "$params.BASE_BUCKET/TARGET_AML/RNAseq_Illumina_Data/Fastq"
  kallisto_out_dir = "$params.BASE_BUCKET/TARGET_AML/RNAseq_Illumina_Data/Kallisto"
  
  stranded = "rf-stranded"
  create_md5 = TRUE
  skip_picard = FALSE 
}


// Run the analysis on AWS Batch
process.executor = 'awsbatch'

// Run the analysis on the specified queue in AWS Batch
process.queue = 'default'

//Set-up the workdir location 
workDir = "s3://fh-pi-meshinchi-s-nextflow-scratch/"

//The exit status of the task that caused the workflow execution to fail was: 102
process {
  maxRetries = 3
  withLabel: star_increasing_mem {
       errorStrategy = 'retry'
       memory = {64.GB * task.attempt}
       cpus = {8 * task.attempt}
       maxRetries = 2
  }
}

// Mount the host folder /docker_scratch to /tmp within the running job
// Use /tmp for scratch space to provide a larger working directory
// IMPORTANT: Replace with the Job Role ARN for your account
aws {
    region = 'us-west-2'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
        jobRole = 'arn:aws:iam::my_personal_id_from_sci_comp'
        volumes = ['/var/lib/docker:/tmp:rw']
    }
}

